<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EARDRVM</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/allposts">Explore</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/following">Following</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/favorites">Favorites</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/myposts">My Posts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" *ngIf="isLoggedIn">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)"><span class="user-name-display">{{name}}</span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)"><span class="user-title">Name: </span><span class="user-data">{{name}}</span></a></li>
              <li><a href="javascript:void(0)"><span class="user-title">Email: </span><span class="user-data">{{email}}</span></a></li>
              <li><a href="javascript:void(0)"><span class="user-title">Uid: </span><span class="user-data">{{uid}}</span></a></li>
              <li><a routerLink="/edit-profile"><span class="user-title">Edit Profile</span><span class="user-data"></span></a></li>
            </ul>
          </li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="isLoggedIn" (click)="onLogout()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
